<h1>Welcome#index</h1>
<h1>Hello dis be rails</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>there will be buttons that will redirect to the different controller pages except for admin</p>
