<body class="text-center">
    <h1>Editing Roll <%= @roll.id %></h1>

    <%= render 'form', roll: @roll %>
    
    <%= link_to @roll do %>
      <button class="btn btn-success btn-lg">Back</button>
    <% end %>
</body>
