<h1 class="text-center">New Roll</h1>

<%= render 'form', roll: @roll %>

<div class="text-center">
    <button class="btn btn-warning">
        <%= link_to 'Back', films_path %>
    </button>
</div>
